
* {
  box-sizing: border-box;
  font-family: helvetica;
}

h1{
    margin-top: 15px;
    margin-bottom: 0;
    font-family:var(--bs-font-sans-serif);
    color:black;
    display: inline-block;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;

}
h4{
    font-size: 14px;
}
body {
    min-width:400px;
    max-width: 600px;
    font-size: 12px;
    margin: 0;
    color: black;
    background-image: linear-gradient(to bottom,white, white);
    padding-bottom: 25px;
}

div.titleDiv{
    position: relative;
    text-align: center;

}

div.urls{
    border-top: 3px groove #b74dd2;
    border-bottom: 3px groove #b74dd2;
    padding: 1em;
    background-color: white;
    color: #423144;
}

div.footDiv{
    padding-left: 10px;
}

img.logo{
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 70px;
    display: inline-block;
}

button.reloadBtn{
  padding: 4px;
  padding-left: 53px;
  padding-right: 53px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b74dd2;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}

input.unfoldBtn {
    background-color: #b74dd2;
    border-radius: 4px;
    color: white;
    position: absolute;
    right: 16px;
    border: none;
    width: 30px;
    padding-bottom: 2px;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-left: 70px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b74dd2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b74dd2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 65%;
 font-size: 12px;
 font-weight: bold;
 font-family: var(--bs-font-sans-serif);
}

input:checked + .slider:after
{
  content:'ON';
  left: 35%;
}
